<center><h2> Module 3 Project</h2></center>
<center><h2> Data Loading & Cleaning</h2></center>

In terms of our dataset, we are combing data on the boroughs of London, together with air quality and pollent data, to advise potential homebuyers.

The borough related data contains 85 columns, including demographic data. However we are only keeping 19 columns, in particular these columns are related 

<h4>(1) potential drivers of air quality</h4>

- Population density (per hectare) 2016
- % of area that is Greenspace, 2005
- Total carbon emissions (2013)
- Number of cars, (2011 Census)

<h4>(2) factual info that potential homebuyers would be interested to know</h4>

- Unemployment rate (2015)
- Number of active businesses, 2014
- Crime rates per thousand population 2014/15
- Median House Price, 2014
- Average Band D Council Tax charge (Â£), 2015/16
- Rented from Local Authority or Housing Association, (2014) %
- Average Public Transport Accessibility score, 2014
- Achievement of 5 or more A*- C grades at GCSE or equivalent including English and Maths, 2013/14
- Political control in council

<h4>(3) Survey data of residents</h4>

- Life satisfaction score 2011-14 (out of 10)
- Happiness score 2011-14 (out of 10)
- Anxiety score 2011-14 (out of 10)

In [116]:
import pandas as pd
import data_cleaning as dc

# we only need 19 columns, skip an empty row, also delete inner london as it has lots of missing value
# also summary rows at the end
cols_to_use = [1,2,3,7,32,47,49,52,53,57,59,60,62,65,66,73,75,76,80]
borough_data = pd.read_csv('./data/london-borough-profiles-2016.csv', 
                            usecols = cols_to_use, 
                            skiprows = [1,2], 
                            nrows=32)

ORIGINAL_COLS = borough_data.columns

# rename the columns, and rearrange so similar data is together
borough_data.rename(columns=lambda x:x.split()[0].lower() 
                        if x.split()[0] not in ['Number','Average'] 
                        else x.split()[2].lower(), 
                    inplace=True)



# cleaned_data = dc.full_clean(dirty_data)

In [117]:
borough_data.rename(columns={
                    'new':'code',
                    'inner/':'inner_outer',
                    'active':'active_business',
                    'median':'house_price',
                    'd':'council_tax',
                    'rented':'council_rental',
                    '%':'greenspace',
                    'total':'carbon_emmision',
                    'cars,':'cars',
                    'transport':'pub_transport'
                    }, inplace=True)

#### Next Steps

In [118]:
borough_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 19 columns):
code               32 non-null object
area               32 non-null object
inner_outer        32 non-null object
population         32 non-null float64
unemployment       32 non-null float64
active_business    32 non-null int64
crime              32 non-null float64
house_price        32 non-null int64
council_tax        32 non-null int64
council_rental     32 non-null float64
greenspace         32 non-null float64
carbon_emmision    32 non-null float64
cars               32 non-null int64
pub_transport      32 non-null float64
achievement        32 non-null float64
life               32 non-null float64
happiness          32 non-null float64
anxiety            32 non-null float64
political          32 non-null object
dtypes: float64(11), int64(4), object(4)
memory usage: 4.8+ KB

In [119]:
# need to convert to float: active_business, house_price, carbon, cars, 

borough_data

,code,area,inner_outer,population,unemployment,active_business,crime,house_price,council_tax,council_rental,greenspace,carbon_emmision,cars,pub_transport,achievement,life,happiness,anxiety,political
0,E09000002,Barking and Dagenham,Outer London,57.3,11.0,5690,83.4,215000,1332,35.9,33.6,783.2,56966,3.0,58.0,7.14,7.05,3.05,Lab
1,E09000003,Barnet,Outer London,44.5,8.5,24555,62.7,400000,1397,11.1,41.3,1552.7,144717,3.0,67.3,7.48,7.37,2.75,Cons
2,E09000004,Bexley,Outer London,39.9,7.6,8430,51.8,250000,1446,15.2,31.7,1060.9,108507,2.6,60.3,7.38,7.21,3.29,Cons
3,E09000005,Brent,Outer London,76.1,7.5,14680,78.8,385000,1354,20.4,21.9,1292.6,87802,3.7,60.1,7.25,7.22,2.92,Lab
4,E09000006,Bromley,Outer London,21.7,5.3,14825,64.1,335000,1325,13.2,57.8,1334.7,153908,2.8,68.0,7.54,7.44,3.26,Cons
5,E09000007,Camden,Inner London,109.8,4.0,29020,123.5,675000,1337,34.4,24.8,1540.5,46601,5.7,62.7,7.14,7.11,3.61,Lab
6,E09000008,Croydon,Outer London,44.4,4.1,14400,77.0,265000,1466,16.7,37.1,1452.2,140049,3.2,57.7,7.10,7.18,3.30,Lab
7,E09000009,Ealing,Outer London,63.5,5.8,17475,75.5,388000,1355,14.3,30.9,1567.3,112845,3.3,62.1,7.29,7.26,3.57,Lab
8,E09000010,Enfield,Outer London,41.0,3.8,13015,69.4,285000,1395,17.2,45.6,1397.5,119653,3.0,59.9,7.26,7.33,2.60,Lab
9,E09000011,Greenwich,Outer London,58.8,8.1,8975,79.4,317000,1276,34.2,34.4,1004.5,78185,3.4,58.8,7.20,7.20,3.40,Lab
10,E09000012,Hackney,Inner London,141.1,5.9,16095,99.6,433000,1293,45.4,23.2,877.8,41800,4.9,60.6,7.03,6.99,3.76,Lab
11,E09000013,Hammersmith and Fulham,Inner London,111.8,4.7,13465,113.2,661000,1023,25.9,19.1,971.3,43843,4.7,60.5,7.41,7.16,3.09,Lab
12,E09000014,Haringey,Inner London,92.7,5.7,11875,90.2,405000,1479,33.4,25.5,891.6,61515,4.3,59.7,7.24,7.19,3.18,Lab
13,E09000015,Harrow,Outer London,49.8,4.6,14000,50.4,370000,1529,8.9,34.6,837.7,100326,2.9,66.4,7.33,7.31,2.71,Lab
14,E09000016,Havering,Outer London,22.3,5.3,9445,62.9,250000,1514,17.2,59.3,1161.2,117634,2.5,59.8,7.39,7.21,3.28,No Overall Control
15,E09000017,Hillingdon,Outer London,25.8,5.8,12485,76.6,307000,1408,16.6,49.2,1998.4,122486,2.4,62.0,7.37,7.28,3.47,Cons
16,E09000018,Hounslow,Outer London,48.9,4.3,13035,79.2,319950,1375,19.2,39.6,1420.7,94042,3.0,63.2,7.31,7.40,3.39,Lab
17,E09000019,Islington,Inner London,153.0,4.5,18710,121.2,530000,1276,35.3,12.4,1052.1,38629,5.7,59.9,7.17,7.06,3.70,Lab
18,E09000020,Kensington and Chelsea,Inner London,129.2,4.2,13635,120.9,1195000,1078,29.1,15.1,1236.0,44536,5.8,68.7,7.61,7.56,3.10,Cons
19,E09000021,Kingston upon Thames,Outer London,46.3,4.5,8520,58.5,385000,1675,10.7,36.4,752.4,70421,2.9,68.6,7.34,7.41,3.29,Cons
20,E09000022,Lambeth,Inner London,121.4,5.9,20900,104.6,420000,1239,29.8,17.3,1257.3,66791,5.0,57.1,7.14,7.20,3.53,Lab
21,E09000023,Lewisham,Inner London,84.7,5.7,9625,77.0,315000,1355,28.1,22.5,930.3,76507,4.1,56.3,7.18,7.26,3.43,Lab
22,E09000024,Merton,Outer London,55.7,4.6,11225,59.7,385000,1401,16.2,34.6,844.6,72777,3.4,67.8,7.28,7.13,3.56,Lab
23,E09000025,Newham,Inner London,93.5,9.1,9645,90.8,250000,1241,31.4,23.9,1441.6,61092,3.9,55.7,7.12,7.18,3.37,Lab
24,E09000026,Redbridge,Outer London,53.3,7.9,13160,69.7,301500,1391,11.3,40.6,963.5,106339,3.0,68.7,7.32,7.30,3.20,Lab
25,E09000027,Richmond upon Thames,Outer London,34.3,3.8,13650,56.3,535000,1582,8.7,50.8,880.9,84918,3.1,70.5,7.54,7.33,3.20,Cons
26,E09000028,Southwark,Inner London,108.2,7.7,15860,100.6,420000,1207,37.2,24.9,1454.5,60438,4.9,61.2,7.47,7.31,3.42,Lab
27,E09000029,Sutton,Outer London,46.1,5.5,8155,55.9,285000,1459,11.6,32.0,774.4,91266,2.9,67.4,7.46,7.26,3.22,Lib Dem
28,E09000030,Tower Hamlets,Inner London,149.8,9.2,16545,99.9,383000,1181,41.6,15.2,1948.3,43589,5.0,59.2,7.22,7.20,3.26,Tower Hamlets First
29,E09000031,Waltham Forest,Outer London,71.1,5.4,9875,78.0,320000,1447,19.9,31.4,850.5,76217,3.6,58.3,7.19,7.12,3.14,Lab
30,E09000032,Wandsworth,Inner London,93.8,5.7,17445,72.6,532500,683,19.3,26.9,1162.6,89513,4.3,63.0,7.37,7.37,3.59,Cons
31,E09000033,Westminster,Inner London,110.4,8.8,53160,212.4,875000,674,27.8,38.2,3048.4,48810,6.5,65.7,7.25,7.13,3.43,Cons

In [67]:
for name in ORIGINAL_COLS:
    print(name+'\n')

New code

Area name

Inner/ Outer London

Population density (per hectare) 2016

Unemployment rate (2015)

Number of active businesses, 2014

Crime rates per thousand population 2014/15

Median House Price, 2014

Average Band D Council Tax charge (Â£), 2015/16

Rented from Local Authority or Housing Association, (2014) %

% of area that is Greenspace, 2005

Total carbon emissions (2013)

Number of cars, (2011 Census)

Average Public Transport Accessibility score, 2014

Achievement of 5 or more A*- C grades at GCSE or equivalent including English and Maths, 2013/14

Life satisfaction score 2011-14 (out of 10)

Happiness score 2011-14 (out of 10)

Anxiety score 2011-14 (out of 10)

Political control in council