<center><h2> Module 3 Project</h2></center>
<center><h2> Data Loading & Cleaning</h2></center>

In terms of our dataset, we are combing data on the boroughs of London, together with air quality and pollent data, to advise potential homebuyers.

The borough related data contains 85 columns, including demographic data. However we are only keeping 19 columns, in particular these columns are related 

<h4>(1) potential drivers of air quality</h4>

- Population density (per hectare) 2016
- % of area that is Greenspace, 2005
- Total carbon emissions (2013)
- Number of cars, (2011 Census)

<h4>(2) factual info that potential homebuyers would be interested to know</h4>

- Unemployment rate (2015)
- Number of active businesses, 2014
- Crime rates per thousand population 2014/15
- Median House Price, 2014
- Average Band D Council Tax charge (Â£), 2015/16
- Rented from Local Authority or Housing Association, (2014) %
- Average Public Transport Accessibility score, 2014
- Achievement of 5 or more A*- C grades at GCSE or equivalent including English and Maths, 2013/14
- Political control in council

<h4>(3) Survey data of residents</h4>

- Life satisfaction score 2011-14 (out of 10)
- Happiness score 2011-14 (out of 10)
- Anxiety score 2011-14 (out of 10)

In [1]:
%load_ext autoreload
%autoreload 2

In [169]:
import pandas as pd
import data_cleaning as dc
import api

borough_data = dc.full_clean()
# borough_data = pd.read_csv('./data/borough_data_cleaned_coordi.csv',index_col=0)

In [170]:
borough_data.head()

,code,area,inner_outer,population,unemployment,active_business,crime,house_price,council_tax,council_rental,greenspace,carbon_emmision,cars,pub_transport,achievement,life,happiness,anxiety,political,coordi
0,E09000001,City of London,Inner London,28.9,.,19250,.,765000,943,.,4.8,1417.5,1692,7.9,78.6,6.59,5.99,5.57,.,"[[51.513988, -0.104885], [51.5110275, -0.098687]]"
1,E09000002,Barking and Dagenham,Outer London,57.3,11,5690,83.4,215000,1332,35.9,33.6,783.2,56966,3.0,58.0,7.14,7.05,3.05,Lab,"[[51.55903, 0.155831], [51.558141500000005, 0...."
2,E09000003,Barnet,Outer London,44.5,8.5,24555,62.7,400000,1397,11.1,41.3,1552.7,144717,3.0,67.3,7.48,7.37,2.75,Cons,"[[51.658724, -0.190878], [51.651157, -0.214106]]"
3,E09000004,Bexley,Outer London,39.9,7.6,8430,51.8,250000,1446,15.2,31.7,1060.9,108507,2.6,60.3,7.38,7.21,3.29,Cons,"[[51.4589, 0.1384], [51.441, 0.149]]"
4,E09000005,Brent,Outer London,76.1,7.5,14680,78.8,385000,1354,20.4,21.9,1292.6,87802,3.7,60.1,7.25,7.22,2.92,Lab,"[[51.62028, 0.305], [51.6204, 0.3029]]"

#### Testing the API

In [171]:
import api

aqi = api.get_place_aqi(borough_data, 'Brent',10)

In [172]:
print(len(aqi))
aqi

18

[88, 74, 66, 65, 65, 68, 68, 60, 66, 88, 74, 66, 65, 65, 68, 68, 60, 66]

#### Call API and save data to csv