In [3]:
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import data_cleaning as dc
import api

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [4]:
df = dc.full_clean()

In [5]:
#Most and Least GreenSpace
df_green = df.sort_values(by=['greenspace'],ascending=False)
df_green['area'].iloc[0], df_green['area'].iloc[-1]

('Havering', 'City of London')

In [6]:
#Highest and Lowest House Price
df_price = df.sort_values(by=['house_price'],ascending=False)
df_price['area'].iloc[0], df_price['area'].iloc[-1]

('Kensington and Chelsea', 'Barking and Dagenham')

In [7]:
#Highest and Lowest Happiness
df_hap = df.sort_values(by=['happiness'],ascending=False)
df_hap['area'].iloc[0], df_price['area'].iloc[-1]

('Kensington and Chelsea', 'Barking and Dagenham')

In [8]:
#Highest and Lowest Carbon Emmission
df_car = df.sort_values(by=['carbon_emmision'],ascending=False)
df_car['area'].iloc[0], df_price['area'].iloc[-1]

('Westminster', 'Barking and Dagenham')

In [9]:
#Highest and Lowest House Population
df_pop = df.sort_values(by=['population'],ascending=False)
df_pop['area'].iloc[0], df_price['area'].iloc[-1]

('Islington', 'Barking and Dagenham')

In [10]:
#Highest and Lowest Number of Cars
df_car = df.sort_values(by=['cars'],ascending=False)
df_car['area'].iloc[0], df_price['area'].iloc[-1]

('Bromley', 'Barking and Dagenham')

In [11]:
#Grouping by political party
df_pol = df.sort_values(by=['political'])
df_pol[df_pol['political'] == 'Cons']
df_pol[df_pol['political'] == 'Lab']

,code,area,inner_outer,population,unemployment,active_business,crime,house_price,council_tax,council_rental,greenspace,carbon_emmision,cars,pub_transport,achievement,life,happiness,anxiety,political,coordi
10,E09000011,Greenwich,Outer London,58.8,8.1,8975,79.4,317000,1276,34.2,34.4,1004.5,78185,3.4,58.8,7.20,7.20,3.40,Lab,"[[51.4821, -0.0045], [51.477863, -0.0015019999..."
30,E09000031,Waltham Forest,Outer London,71.1,5.4,9875,78,320000,1447,19.9,31.4,850.5,76217,3.6,58.3,7.19,7.12,3.14,Lab,"[[51.579011, -0.011032], [51.66353, -7.3e-05]]"
27,E09000028,Southwark,Inner London,108.2,7.7,15860,100.6,420000,1207,37.2,24.9,1454.5,60438,4.9,61.2,7.47,7.31,3.42,Lab,"[[51.506287, -0.08984500000000001], [51.509111..."
1,E09000002,Barking and Dagenham,Outer London,57.3,11,5690,83.4,215000,1332,35.9,33.6,783.2,56966,3.0,58.0,7.14,7.05,3.05,Lab,"[[51.55903, 0.155831], [51.558141500000005, 0...."
25,E09000026,Redbridge,Outer London,53.3,7.9,13160,69.7,301500,1391,11.3,40.6,963.5,106339,3.0,68.7,7.32,7.30,3.20,Lab,"[[51.605996, 0.116913], [51.576359, 0.045425]]"
24,E09000025,Newham,Inner London,93.5,9.1,9645,90.8,250000,1241,31.4,23.9,1441.6,61092,3.9,55.7,7.12,7.18,3.37,Lab,"[[51.523139, 0.034301], [51.53961, 0.045559]]"
23,E09000024,Merton,Outer London,55.7,4.6,11225,59.7,385000,1401,16.2,34.6,844.6,72777,3.4,67.8,7.28,7.13,3.56,Lab,"[[51.408, -0.202], [51.393378, -0.206884]]"
22,E09000023,Lewisham,Inner London,84.7,5.7,9625,77,315000,1355,28.1,22.5,930.3,76507,4.1,56.3,7.18,7.26,3.43,Lab,"[[51.4624, -0.0101], [51.4619225, -0.011793000..."
9,E09000010,Enfield,Outer London,41.0,3.8,13015,69.4,285000,1395,17.2,45.6,1397.5,119653,3.0,59.9,7.26,7.33,2.60,Lab,"[[51.645, -0.06], [51.6709, -0.0275]]"
7,E09000008,Croydon,Outer London,44.4,4.1,14400,77,265000,1466,16.7,37.1,1452.2,140049,3.2,57.7,7.10,7.18,3.30,Lab,"[[51.3727, -0.1099], [51.356438, -0.1168345000..."
21,E09000022,Lambeth,Inner London,121.4,5.9,20900,104.6,420000,1239,29.8,17.3,1257.3,66791,5.0,57.1,7.14,7.20,3.53,Lab,"[[51.495269, -0.12013599999999999], [51.494473..."
18,E09000019,Islington,Inner London,153.0,4.5,18710,121.2,530000,1276,35.3,12.4,1052.1,38629,5.7,59.9,7.17,7.06,3.70,Lab,"[[51.526574499999995, -0.104325], [51.533414, ..."
17,E09000018,Hounslow,Outer London,48.9,4.3,13035,79.2,319950,1375,19.2,39.6,1420.7,94042,3.0,63.2,7.31,7.40,3.39,Lab,"[[51.4668, -0.3507], [51.4686, -0.3613]]"
4,E09000005,Brent,Outer London,76.1,7.5,14680,78.8,385000,1354,20.4,21.9,1292.6,87802,3.7,60.1,7.25,7.22,2.92,Lab,"[[51.62028, 0.305], [51.6204, 0.3029]]"
14,E09000015,Harrow,Outer London,49.8,4.6,14000,50.4,370000,1529,8.9,34.6,837.7,100326,2.9,66.4,7.33,7.31,2.71,Lab,"[[51.5836, -0.3464], [51.6048, -0.3405]]"
13,E09000014,Haringey,Inner London,92.7,5.7,11875,90.2,405000,1479,33.4,25.5,891.6,61515,4.3,59.7,7.24,7.19,3.18,Lab,"[[51.600057, -0.111493], [51.606113, -0.072785]]"
12,E09000013,Hammersmith and Fulham,Inner London,111.8,4.7,13465,113.2,661000,1023,25.9,19.1,971.3,43843,4.7,60.5,7.41,7.16,3.09,Lab,"[[51.492212, -0.232215], [51.494638, -0.223779]]"
11,E09000012,Hackney,Inner London,141.1,5.9,16095,99.6,433000,1293,45.4,23.2,877.8,41800,4.9,60.6,7.03,6.99,3.76,Lab,"[[51.5434, -0.0277], [51.5476, -0.0558]]"
8,E09000009,Ealing,Outer London,63.5,5.8,17475,75.5,388000,1355,14.3,30.9,1567.3,112845,3.3,62.1,7.29,7.26,3.57,Lab,"[[51.5139, -0.3031], [51.51, -0.3]]"
6,E09000007,Camden,Inner London,109.8,4,29020,123.5,675000,1337,34.4,24.8,1540.5,46601,5.7,62.7,7.14,7.11,3.61,Lab,"[[51.5406, -0.1433], [51.5405838125, -0.144679..."

In [12]:
#Grouping by Inner / Outer London
df_pol = df.sort_values(by=['inner_outer'])
df_pol[df_pol['inner_outer'] == 'Inner London']
df_pol[df_pol['inner_outer'] == 'Outer London']

,code,area,inner_outer,population,unemployment,active_business,crime,house_price,council_tax,council_rental,greenspace,carbon_emmision,cars,pub_transport,achievement,life,happiness,anxiety,political,coordi
10,E09000011,Greenwich,Outer London,58.8,8.1,8975,79.4,317000,1276,34.2,34.4,1004.5,78185,3.4,58.8,7.20,7.20,3.40,Lab,"[[51.4821, -0.0045], [51.477863, -0.0015019999..."
30,E09000031,Waltham Forest,Outer London,71.1,5.4,9875,78,320000,1447,19.9,31.4,850.5,76217,3.6,58.3,7.19,7.12,3.14,Lab,"[[51.579011, -0.011032], [51.66353, -7.3e-05]]"
1,E09000002,Barking and Dagenham,Outer London,57.3,11,5690,83.4,215000,1332,35.9,33.6,783.2,56966,3.0,58.0,7.14,7.05,3.05,Lab,"[[51.55903, 0.155831], [51.558141500000005, 0...."
28,E09000029,Sutton,Outer London,46.1,5.5,8155,55.9,285000,1459,11.6,32.0,774.4,91266,2.9,67.4,7.46,7.26,3.22,Lib Dem,"[[51.366136, -0.17636]]"
2,E09000003,Barnet,Outer London,44.5,8.5,24555,62.7,400000,1397,11.1,41.3,1552.7,144717,3.0,67.3,7.48,7.37,2.75,Cons,"[[51.658724, -0.190878], [51.651157, -0.214106]]"
26,E09000027,Richmond upon Thames,Outer London,34.3,3.8,13650,56.3,535000,1582,8.7,50.8,880.9,84918,3.1,70.5,7.54,7.33,3.20,Cons,"[[51.456, -0.301], [51.480883, -0.281164]]"
25,E09000026,Redbridge,Outer London,53.3,7.9,13160,69.7,301500,1391,11.3,40.6,963.5,106339,3.0,68.7,7.32,7.30,3.20,Lab,"[[51.605996, 0.116913], [51.576359, 0.045425]]"
3,E09000004,Bexley,Outer London,39.9,7.6,8430,51.8,250000,1446,15.2,31.7,1060.9,108507,2.6,60.3,7.38,7.21,3.29,Cons,"[[51.4589, 0.1384], [51.441, 0.149]]"
23,E09000024,Merton,Outer London,55.7,4.6,11225,59.7,385000,1401,16.2,34.6,844.6,72777,3.4,67.8,7.28,7.13,3.56,Lab,"[[51.408, -0.202], [51.393378, -0.206884]]"
4,E09000005,Brent,Outer London,76.1,7.5,14680,78.8,385000,1354,20.4,21.9,1292.6,87802,3.7,60.1,7.25,7.22,2.92,Lab,"[[51.62028, 0.305], [51.6204, 0.3029]]"
20,E09000021,Kingston upon Thames,Outer London,46.3,4.5,8520,58.5,385000,1675,10.7,36.4,752.4,70421,2.9,68.6,7.34,7.41,3.29,Cons,"[[51.4103, -0.2995], [51.4084, -0.305969999999..."
7,E09000008,Croydon,Outer London,44.4,4.1,14400,77,265000,1466,16.7,37.1,1452.2,140049,3.2,57.7,7.10,7.18,3.30,Lab,"[[51.3727, -0.1099], [51.356438, -0.1168345000..."
17,E09000018,Hounslow,Outer London,48.9,4.3,13035,79.2,319950,1375,19.2,39.6,1420.7,94042,3.0,63.2,7.31,7.40,3.39,Lab,"[[51.4668, -0.3507], [51.4686, -0.3613]]"
8,E09000009,Ealing,Outer London,63.5,5.8,17475,75.5,388000,1355,14.3,30.9,1567.3,112845,3.3,62.1,7.29,7.26,3.57,Lab,"[[51.5139, -0.3031], [51.51, -0.3]]"
15,E09000016,Havering,Outer London,22.3,5.3,9445,62.9,250000,1514,17.2,59.3,1161.2,117634,2.5,59.8,7.39,7.21,3.28,No Overall Control,"[[51.6156, 0.1861], [51.5609015, 0.232802]]"
14,E09000015,Harrow,Outer London,49.8,4.6,14000,50.4,370000,1529,8.9,34.6,837.7,100326,2.9,66.4,7.33,7.31,2.71,Lab,"[[51.5836, -0.3464], [51.6048, -0.3405]]"
9,E09000010,Enfield,Outer London,41.0,3.8,13015,69.4,285000,1395,17.2,45.6,1397.5,119653,3.0,59.9,7.26,7.33,2.60,Lab,"[[51.645, -0.06], [51.6709, -0.0275]]"
5,E09000006,Bromley,Outer London,21.7,5.3,14825,64.1,335000,1325,13.2,57.8,1334.7,153908,2.8,68.0,7.54,7.44,3.26,Cons,"[[51.407, 0.021], [51.4061, 0.0152]]"
16,E09000017,Hillingdon,Outer London,25.8,5.8,12485,76.6,307000,1408,16.6,49.2,1998.4,122486,2.4,62.0,7.37,7.28,3.47,Cons,"[[51.54, -0.45], [51.5259435, -0.4610965]]"